@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default
}
:root {
  --violent-violet: #340C5C;
  --whaling-waters: #2C7074;
  --metallic-silver:#A9A9A9;

}


@font-face {
  font-family: BerlinXBold; /* set name */
  src: url(./../public/berlin.x-bold.ttf); /* url of the font */
}
 .btn-custom {
  color: white;
  background-color:var(--violent-violet);
 }
 .menu-custom{
  background: white;
 }


 h1 {
  font-family: BerlinXBold; /* use font */

}

body{
  color:  var(--violent-violet);
}

legend{
  color:var(--violent-violet);
}


